body {
    background-color: chartreuse;
    background-size: 49%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.Container-1 {
    background-color: white;
    height: 355px;
    width: 280px;
    border-radius: 20px;
    position: absolute;
    margin-top: 250px;
    margin-left: 550px;
}

.Main-title {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-left: 29px;
}

.Invite-title {
    font-family: 'Dancing Script', cursive;
    margin-left: 36px;
    color: crimson;
    text-shadow: 2px 2px yellow;
}

.Main-info {
    font-family: 'Dancing Script', cursive;
    margin-left: 28px;
    line-height: 27px;
}

.Cat {
    height: 300px;
    position: absolute;
    transform: translateY();
    right: 34px;
    bottom: 20px;
}

.Cake {
    height: 400px;
    position: absolute;
    transform: translateY();
    bottom: 100px;
    left: 55px;
    animation: imgZoom 3.5s ease infinite;
    animation-direction: reverse;
    animation-fill-mode: none;
}

.Button {
    position: absolute;
    margin-left: 80px;
    margin-top: 80px;
}

.Button-text {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    border-radius: 60px;
    height: 100px;
    width: 100px;
    color: white;
    background-color: blueviolet;
    border: none;
}

.Button-text:hover {
    background-color: magenta;
    transition: all 0.7s ease-in-out;
    transition-delay: 0.3s;
}

@keyframes imgZoom {
    0% {transform: scale(1) rotate(0deg);}
    50% {transform: scale(1.1) rotate(15deg);}
    100% {transform: scale(1) rotate(0deg);}
}

